<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insa">
	
	<select id="memberListAll" resultType="member">
		select u.* ,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where com_no=#{com_no}
	</select>
	
	<select id="selectUserId" resultMap="memberMap">
		select u.*,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where userId=#{userId}
	</select>
	<resultMap type="com.kh.ok.member.model.vo.Member" id="memberMap">
	</resultMap>
	<update id="memberOneUpdate" parameterType="member">
		update tbl_user set job=#{job}, phone_com=#{phone_com}, phone_cell=#{phone_cell}, email=#{email}, birthday=#{birthday}, address=#{address}, etc_inf=#{etc_inf} where userid=#{userId}
	</update>
	<update id="profileUpdate" parameterType="member">
		update tbl_user set photo = #{photo} where  userid=#{userId}
	</update>
	<select id="yearListGroup" resultType="string">
		select nvl(to_char(joindate, 'YYYY'),'미기재 ') year from tbl_user where com_no=#{com_no} group by to_char(joindate, 'YYYY') order by year
	</select>
	<select id="positionListGroup" resultType="string">
		select nvl(u.position, '미기재') from tbl_user u left join tbl_position p on u.position=p.position where u.com_no = #{com_no} group by u.position, p.position_level order by p.position_level
	</select>
	<select id="selectmemberListAll" resultType="member">
		select u.*, (select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where u.com_no=#{com_no} order by username
	</select>
	<select id="selectMemberListCnt" resultType="_int">
		select count(*) from tbl_user where com_no=#{com_no}
	</select>
	<select id="insaMemberSearch" resultType="member">
		select * 
		from tbl_user 
		where com_no=#{com_no}
		<if test="searchKey != null">
		and userid like '%'||#{searchKey}||'%' or username  like '%'||#{searchKey}||'%' 
		</if>
	</select>
</mapper>
