<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insa">
	
	<select id="memberListAll" resultType="member">
		select u.* ,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where com_no=#{com_no} and status='Y'
	</select>
	<select id="selectUserId" resultMap="memberMap">
		select u.*,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where userId=#{userId}
	</select>
	<resultMap type="com.kh.ok.member.model.vo.Member" id="memberMap">
	</resultMap>
	<update id="memberOneUpdate" parameterType="member">
		update tbl_user set job=#{job}, phone_com=#{phone_com}, phone_cell=#{phone_cell}, email=#{email}, birthday=#{birthday}, address=#{address}, etc_inf=#{etc_inf} where userid=#{userId}
	</update>
	<update id="profileUpdate" parameterType="member">
		update tbl_user set photo = #{photo} where  userid=#{userId}
	</update>
	<select id="yearListGroup" resultType="string">
		select nvl(to_char(joindate, 'YYYY'),'미기재 ') year from tbl_user where com_no=#{com_no} group by to_char(joindate, 'YYYY') order by year
	</select>
	<select id="positionListGroup" resultType="string">
		select nvl(u.position, '미기재'), p.position_level from tbl_user u left join tbl_position p on u.com_no=p.com_no and p.position = u.position where u.com_no like #{com_no}  group by u.position, p.position_level  order by p.position_level
	</select>
	<select id="selectmemberListAll" resultType="member">
		select u.*, (select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where u.com_no=#{com_no} order by username
	</select>
	<select id="selectMemberListCnt" resultType="_int">
		select count(*) from tbl_user where com_no=#{com_no}
	</select>
	<select id="insaMemberSearch" resultType="member">
		select * 
		from tbl_user 
		where com_no=#{com_no}
		<if test="searchKey != null">
		and username  like '%'||#{searchKey}||'%' 
		</if>
	</select>
	<select id="insaSelectMemberSearch" resultType="member">
		select u.*, (select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u 
		where u.com_no=#{com_no} 
		<if test="searchKey != null">
		and username like '%'||#{searchKey}||'%' 
		</if>
		order by u.username
	</select>
	<select id="selectSelectMemberListCnt" resultType="_int">
		select count(*) from tbl_user where com_no=#{com_no}
		<if test="searchKey != null">
		and username like '%'||#{searchKey}||'%' 
		</if>
	</select>
	<select id="memberSelectManagement" resultType="member">
		select u.* ,(select com_name from tbl_com c where c.com_no=(select com_no from tbl_user where userid=#{userId})) com_name from tbl_user u where userId=#{userId}
	</select>
	<select id="selectPositionList" resultType="position">
		select * from tbl_position where com_no=#{com_no} order by position_level
	</select>
		<select id="checkIdDuplicate" resultType="_int">
		select count(*) from tbl_user where com_no=#{comNo} and emp_no=#{empNo}
	</select>
	<update id="insaMemberOneUpdate" parameterType="member">
	update tbl_user set emp_no=#{emp_no}
	<if test='position!= null'>
	,position=#{position}
	</if>
	<if test='dept!= null'>
	,dept=#{dept}
	</if>
	<if test='job!= null'>
	, job=#{job}
	</if>
	, phone_com=#{phone_com}
	, phone_cell=#{phone_cell}
	, email=#{email}
	, address=#{address}
	, etc_inf=#{etc_inf}
	<if test='birthday!= null'>
		, birthday=#{birthday}
	</if>
	<if test='joinDate != null'>
		, joindate=#{joinDate}
	</if>
	, status=#{status}
	<if test='status == "N"'>
		, quitDate=sysdate	
	</if>
	 where userid=#{userId}
	</update>
	<delete id="insaMemberDelete">
		delete from tbl_user where userId in
		<foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<update id="insaMemberUpdate">
		update tbl_user set 
		<if test='updateType == "position"'>
			position=#{position}
		</if>
		<if test='updateType == "job"'>
			job=#{job}
		</if>
		<if test='updateType == "status"'>
			status=#{status}
		</if>
		where userId in
		<foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	<insert id="positionInsert">
		insert into tbl_position values(#{com_no}, #{position}, seq_tbl_position_no.nextval)
	</insert>
	<update id="updatePositionModal">
		update tbl_position set position=#{position} where com_no=#{comNo} and position_level=#{level}
	</update>
	<delete id="insaPositionDelete">
		delete from tbl_position where com_no=#{com_no} and position=#{s_position}
	</delete>
	<update id="insaPositionUpdate">
		update tbl_user set position=#{position} where com_no=#{com_no} and userId in
		<foreach item="item" index="index" collection="userId" open="(" separator="," close=")">
			#{item}
		</foreach>  
	</update>
	<insert id="insaJobInsert" >
		insert into tbl_job values(#{com_no},#{job})
	</insert>
	<delete id="insaJobDelete">
		delete from tbl_job where com_no=#{com_no} and job=#{selectjob}
	</delete>
	<update id="insaJobUpdate">
		update tbl_job set job=#{job} where com_no=#{com_no} and job=#{selectjob}
	</update>
	<select id="insaMemberList" resultType="member">
		select u.* ,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where com_no=#{com_no}
	</select>
	<update id="insaMemberJobUpdate">
		update tbl_user set job=#{job} where com_no=#{com_no} and job=#{selectjob}
	</update>
	<select id="insaselectAdmin" resultType="map">
		select * from tbl_user where userName like #{userName} and com_no=#{com_no}
	</select>
	<update id="insaadminInsert">
		update tbl_user set grade=#{grade} where userId=#{userId}
	</update>
	<select id="insaNewMemberSearch" resultType="member">
		select * 
		from tbl_user 
		where com_no is null
		<if test="searchKey != null">
		and userid  like '%'||#{searchKey}||'%' 
		</if>
	</select>
	<update id="insaMemberAddUpdate">
		update tbl_user set joindate = sysdate, status = 'Y', com_no = #{com_no} where userId=#{userId}
	</update>
	<select id="selectDeptList" resultType="dept">
		select * from tbl_dept where com_no=#{com_no} order by dept_level
	</select>
</mapper>
