<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="insa">
	
	<select id="memberListAll" resultType="member">
		select u.*,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where com_no=#{com_no}
	</select>
	
	<select id="selectUserId" resultMap="memberMap">
		select u.*,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where userId=#{userId}
	</select>
	<resultMap type="com.kh.ok.member.model.vo.Member" id="memberMap">
	</resultMap>
	<update id="memberOneUpdate" parameterType="member">
		update tbl_user set job=#{job}, phone_com=#{phone_com}, phone_cell=#{phone_cell}, email=#{email}, birthday=#{birthday}, address=#{address}, etc_inf=#{etc_inf} where userid=#{userId}
	</update>
</mapper>
