<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="address">

<!-- 	<insert id="addressAdd" >
		INSERT INTO tbl_address
		VALUES(seq_tbl_address.nextval, 
			   #{address_no},
			   #{userId},
			   #{com_No},
			   #{name},
			   #{email},
			   #{phone},
			   #{tag},
			   #{company},
			   #{address},
			   #{anniversary},
			   #{memo},
			   #{status},
			   )
			   
	</insert>
	 -->
	  <select id="addressView"  resultType="com.kh.ok.address.model.vo.Address">
		    SELECT * FROM tbl_address where status = 'Y'
	   </select> 
	   
 		<insert id="InsertAddress">
	   		insert into tbl_address
	   		values(SEQ_TBL_ADDRESS.nextval,#{userId},#{comId},#{name},#{email},#{phone},#{tag},#{company},#{address},#{anniversary},#{memo},'Y')
	   </insert>
	   
  		 <update id="addressTrash">
  		 update tbl_address set status = 'N' where address_no = #{addId}
		</update>
	
		 <select id="addressTrashList"  resultType="com.kh.ok.address.model.vo.Address">
		    SELECT * FROM tbl_address where status = 'N'
	    </select> 
	    
	     <update id="addressReset">
  		 update tbl_address set status = 'Y' where address_no = #{addId}
		</update>
 	


	  
	
	
	 
</mapper>
