<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="address">

	<insert id="addressAdd" >
		INSERT INTO tbl_address
		VALUES(seq_tbl_address.nextval, 
			   #{address_no},
			   #{userId},
			   #{com_No},
			   #{name},
			   #{email},
			   #{phone},
			   #{tag},
			   #{company},
			   #{anniversary},
			   #{memo},
			   #{status},
			   sysdate)
			   
	</insert>
	
	  <select id="addressView" parameterType="string"  resultType="com.kh.ok.address.model.vo.Address">
		    SELECT * FROM tbl_address
	   </select> 
	   
	   
	
	
	 
</mapper>
