<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="selectUserId" resultMap="memberMap">
		select u.*,(select com_name from tbl_com c where c.com_no=u.com_no) com_name from tbl_user u where userId=#{userId}
	</select>
	<resultMap type="com.kh.ok.member.model.vo.Member" id="memberMap">
	</resultMap>
	<select id="checkIdDuplicate" resultType="_int">
		SELECT COUNT(*) AS CNT FROM TBL_USER WHERE USERID = #{userId}
	</select>
	<update id="memberOneUpdate" parameterType="member">
		update tbl_user set job=#{job}, phone_com=#{phone_com}, phone_cell=#{phone_cell}, email=#{email}, birthday=#{birthday}, address=#{address}, etc_inf=#{etc_inf} where userid=#{userId}
	</update>
	<select id="checkComNameDuplicate" resultType="_int">
		select count(*) as cnt from tbl_com where com_name = #{comName}
	</select>
	<select id="selectComSEQ" resultType="_int">
		select seq_com.nextval comSEQ from dual
	</select>
	<insert id="memberEnrollEnd">
		insert into tbl_user(userId, password, userName, email, address, photo, sign, status, joindate) values(#{userId}, #{password}, #{userName}, #{email}, #{address}, #{photo}, #{sign}, 'Y', sysdate)
	</insert>
	<insert id="memberEnrollEndCom">
		insert into tbl_user(userId, password, userName, email, address, photo, sign, com_no, status, joindate) values(#{userId}, #{password}, #{userName}, #{email}, #{address}, #{photo}, #{sign}, #{com_no}, 'Y', sysdate)
	</insert>
	<insert id="memberComCreate">
		insert into tbl_com values (#{com_no}, #{com_name})
	</insert>
</mapper>
