<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservation">
	<select id="reservationListPage" resultType="reservation">
		select r.*, (select resource__name from tbl_resources where res_no = r.res_no) res_name from reservation r where writer = #{userId} 
	</select>
	
</mapper>
