<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<select id="selectBoardBasicList" resultType="map">
		select * from board where board_menu_no=#{boardMenuNo} and status='Y' order by board_no
	</select>
	<select id="selectBoardCount" resultType="_int">
		select count(*) from board where status='Y' and board_menu_no=#{board_menu_no}
	</select>
	<insert id="insertBasicBoard">
		insert into board values(seq_board_no.nextval, #{board_menu_no}, #{title}, sysdate, #{content}, #{writer}, 'Y', #{original_file_name}, #{renamed_file_name}, 0)
		<!-- 전달할 board vo 객체의 boardNo 프로퍼티에 결과값을 담는다 -->
		<selectKey keyProperty="board_no" resultType="_int" order="AFTER">
			SELECT SEQ_BOARD_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertBasicBoardNoFile">
		insert into board(board_no, board_menu_no, title, writedate, content, writer, status, count) values(seq_board_no.nextval, #{board_menu_no}, #{title}, sysdate, #{content}, #{writer}, 'Y', 0)
		<!-- 전달할 board vo 객체의 boardNo 프로퍼티에 결과값을 담는다 -->
		<selectKey keyProperty="board_no" resultType="_int" order="AFTER">
			SELECT SEQ_BOARD_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<select id="selectBoardView" resultType="com.kh.ok.board.model.vo.Board">
		select A.*, B.photo profile from board A join tbl_user B on A.writer=B.userId where A.board_no=#{boardNo}
	</select>
	<select id="selectBookMark" resultType="_int">
		select count(*) from board_bookmark where board_no=#{boardNo}
	</select>
	<update id="updateBasicBoard">
		update board set title=#{title}, content=#{content}, original_file_name=#{original_file_name}, renamed_file_name=#{renamed_file_name} where board_no=#{board_no}
	</update>
	<update id="updateBasicBoardNoFile">
		update board set title=#{title}, content=#{content} where board_no=#{board_no}
	</update>
	<delete id="deleteBoard">
		delete board where board_no=#{boardNo}
	</delete>
	<insert id="insertBoardMenu">
		insert into board_menu values(seq_board_menu_no.nextval, #{title}, sysdate, 'Y', #{kind}, #{userId}, #{com_no})
		<selectKey keyProperty="board_menu_no" resultType="_int" order="AFTER">
			SELECT SEQ_BOARD_MENU_NO.CURRVAL FROM DUAL
		</selectKey>	
	</insert>
	<insert id="insertBoardGroup">
		insert into board_group values(#{board_menu_no}, #{userId})
	</insert>
	<insert id="importantApply">
		insert into board_bookmark values(#{board_no}, #{userId})
	</insert>
	<delete id="importantDelete">
		delete from board_bookmark where board_no=#{board_no} and userId=#{userId}
	</delete>
	<update id="increaseBoardCount">
		update board set count=count+1 where board_no=#{board_no}
	</update>
	<select id="selectBoardBookMark" resultType="_int">
		select count(*) from board A join board_bookmark B on A.board_no=B.board_no where a.status='Y' and a.board_no=#{board_no} and b.userid=#{userId} order by A.board_no
	</select>
	<select id="selectBoardImportantList" resultType="map">
		select C.*, D.title BOARD_MENU_TITLE from (select * from board A join board_bookmark B using(board_no) where B.userId='ast' and A.status='Y') C join board_menu D on C.board_menu_no=D.board_menu_no
	</select>
	<select id="selectBoardImportantCount" resultType="_int">
		select count(*) from board A join board_bookmark B using(board_no) where B.userId=#{userId} and A.status='Y'
	</select>
	<select id="selectBoardRecentList" resultType="map">
		select C.*, D.TITLE BOARD_MENU_TITLE from (select * from board A join board_group B using(board_menu_no) where userid=#{userId} and (sysdate-A.writedate<![CDATA[<]]>3) order by writedate desc) C join board_menu D on C.board_menu_no = D.board_menu_no
	</select>
	<select id="selectBoardMenuList" resultType="map">
		select * from board_menu join board_group using(board_menu_no) where board_group.userid=#{userId}
	</select>
	<select id="selectBoardGroupList" resultType="map">
		select * from board_menu where kind=#{kind} and com_no=#{com_no} and status='Y'
	</select>
	<select id="selectBoardBasicList_" resultType="map">
		select * from board_menu where kind=#{kind} and com_no=#{com_no} and status='Y'
	</select>
	<insert id="insertComment">
		insert into tbl_comment values(seq_tbl_comment_comment_no.nextval, #{board_no}, #{writer}, #{content}, sysdate, 'Y')
	</insert>
	<select id="selectCommentList" resultType="map">
		select  tbl_comment.*, tbl_user.photo from tbl_comment join tbl_user on tbl_comment.writer=tbl_user.userId where board_no=#{board_no} and tbl_comment.status='Y' order by tbl_comment.writedate
	</select>
	<delete id="deleteComment">
		delete from tbl_comment where comment_no=#{comment_no}
	</delete>
	<select id="selectBoardMenuManageList" resultType="map">
		select distinct A.board_menu_no, A.title, A.createdate, A.kind, A.userId,A.com_no, case when A.status='Y' then '사용' else '미사용' end status from board_menu A join tbl_user B on A.COM_NO = B.COM_NO where (a.status='Y' or a.status='M') and a.com_no = #{com_no} 
	</select>
	<select id="selectBoardMenu" resultType="com.kh.ok.board.model.vo.BoardMenu">
		select * from board_menu where board_menu_no=#{board_menu_no}
	</select>
	<delete id="deleteBoardMenu">
		update board_menu set status='N' where board_menu_no=#{boardMenuNo}
	</delete>
	<select id="selectBoardMenuMember" resultType="map">
		select a.userid, a.dept, a.username, a.photo from tbl_user A join tbl_dept B on A.dept = B.dept where a.status='Y'
	</select>
	<select id="selectDeptList" resultType="map">
		select * from tbl_dept where com_no=#{com_no} 
	</select>
	<select id="selectBoardMenuMember_" resultType="map">
		select * from tbl_user where com_no=#{com_no} and dept=#{dept}
	</select>
	<select id="selectComName" resultType="String">
		select com_name from tbl_com where com_no=#{com_no}
	</select>
	<select id="boardMemberList" resultType="map">
		select * from board_group A join tbl_user B on A.userid=B.userid and B.status='Y' order by board_menu_no
	</select>
	<update id="updateBoardMenu">
		update board_menu set title=#{title}, kind=#{kind} where board_menu_no=#{board_menu_no}
	</update>
	<select id="selectListAdmin" resultType="map">
		select * from tbl_user where (grade='슈퍼관리자' or grade like '%게시판관리자%') and com_no=#{com_no}
	</select>
	<update id="deleteAdmin">
		update tbl_user set grade=#{grade} where userId=#{userId}
	</update>
	<update id="deleteAdminNull">
		update tbl_user set grade=null where userId=#{userId}
	</update>
	<select id="adminSelect" resultType="map">
		select * from tbl_user where userName like #{userName} and com_no=#{com_no}
	</select>
	<select id="memberSelect" resultType="member">
		select * from tbl_user where userId=#{userId}
	</select>
	<update id="adminInsert">
		update tbl_user set grade=#{grade} where userId=#{userId}
	</update>
	<select id="memberCompanyListAll" resultType="map">
		select * from tbl_user where com_no=#{com_no}
	</select>
</mapper>
