<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval">
	<select id="checkCodeDuplidate" resultType="_int">
		select count(*) from ${table} where com_no = #{com_no} and code = #{code}
	</select>
	<insert id="connectionInsert" parameterType="connection">
		insert into connection values(#{code}, #{com_no}, #{connection_name})
	</insert>
	<insert id="gajongInsert" parameterType="gajong">
		insert into tbl_title_of_account values(#{code}, #{com_no}, #{title_of_account})
	</insert>
	<insert id="deptInsert" parameterType="dept">
		insert into tbl_dept values(#{com_no}, #{dept}, 1, #{code})
	</insert>
	<select id="selectListConnect" resultType="connection">
		select * from connection where com_no = #{com_no}
	</select>
	<select id="selectListToa" resultType="gajong">
		select * from tbl_title_of_account where com_no = #{com_no}
	</select>
	<select id="selectListDept" resultType="dept">
		select * from tbl_dept where com_no = #{com_no}
	</select>
	<update id="connectionUpdate">
		update connection set code = ${connect.code}, connection_name = #{connect.connection_name} where code = #{preCode} and com_no = #{connect.com_no}
	</update>
	<update id="gajongUpdate">
		update tbl_title_of_account set code = #{toa.code}, title_of_account = #{toa.title_of_account} where code = #{preCode} and com_no = #{toa.com_no}
	</update>
	<update id="deptUpdate">
		update tbl_dept set code = #{dept.code}, dept = #{dept.dept} where code = #{preCode} and com_no = #{dept.com_no}
	</update>
	<delete id="deleteCode">
		delete from ${table} where code = #{code} and com_no = #{com_no}
	</delete>
	<delete id="deleteCodes">
		delete from ${table} where com_no = #{com_no} and code in
		<foreach item="item" index="index" collection="code" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<select id="selectListAccount" resultType="account">
		select * from account where com_no = #{com_no}
	</select>
	<select id="selectListByName" resultType="member">
		select * from tbl_user where com_no=#{com_no} and username like '%'||#{name}||'%' and status ='Y'
	</select>
	<insert id="accountInsert" parameterType="account">
		insert into account values(#{userId},#{name},#{bankName},#{account_no}, sysdate, #{com_no})
	</insert>
	<select id="accountDuplicate" resultType="_int">
		select count(*) from account where com_no = #{com_no} and userid = #{userId}
	</select>
	<update id="accountUpdate">
		update account set bankname = #{bankName}, account_no = #{account_no} where com_no = #{com_no} and userid = #{userId}
	</update>
	<delete id="accountDelete">
		delete from account where userId = #{userId}
	</delete>
	<select id="selectaccountListByName" resultType="account">
		select * from account where com_no = #{com_no} and name like '%'||#{name}||'%'
	</select>
	<select id="selectListMember" resultType="member">
		select u.*, c.com_name as com_name from tbl_user u join tbl_com c on u.com_no = c.com_no where u.com_no = #{com_no} and u.status ='Y'
	</select>
	<update id="signUpdate">
		update tbl_user set sign=#{sign} where userId=#{userId} 
	</update>
	<select id="selectListAdmin" resultType="map">
		select * from tbl_user where grade='슈퍼관리자' or grade like '%전자결재관리자%'
	</select>
	<update id="deleteAdmin">
		update tbl_user set grade=#{grade} where userId=#{userId}
	</update>
	<update id="deleteAdminNull">
		update tbl_user set grade=null where userId=#{userId}
	</update>
	<select id="adminSelect" resultType="map">
		select * from tbl_user where userName like #{userName}
	</select>
	<select id="memberSelect" resultType="member">
		select * from tbl_user where userId=#{userId}
	</select>
	<update id="adminInsert">
		update tbl_user set grade=#{grade} where userId=#{userId}
	</update>
</mapper>
